/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

p {
  margin-bottom: unset;
}

.pl {
  padding-left: 4em;
}

.paddingOverride {
  padding: unset !important;
}

.invis {
  opacity: 0;
}

body {
  background-size: cover;
}

.pill-background {
  background-color: #0d0d0d71;
  backdrop-filter: blur(5px);

}

.copy-right {
  font-size: 12px;
}