/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

p,
h1 {
  margin-bottom: unset;
  padding: unset;
}

.pl {
  padding-left: 4em;
}

.paddingOverride {
  padding: unset !important;
}

.invis {
  opacity: 0;
}

body {
  background-size: cover;
  background-position: center;
}

.pill-background {
  background-color: #0d0d0d71;
  backdrop-filter: blur(5px);

}

.copy-right {
  font-size: 12px;
  text-shadow: 3px 2px 2px black;

}

.quote {
  text-shadow: 3px 2px 2px black;
}


.quote-author {
  text-shadow: 3px 2px 2px black;


}

.secret-text {
  opacity: 0;
  transition: ease-in .5s;
}

.magic-text:hover .secret-text {
  opacity: unset;
}

.magic-text:hover {
  background: rgba(0, 0, 0, 0.087);
  border-radius: 100px;
  backdrop-filter: blur(5px);
  transition: all .5s;
  cursor: pointer;
}